#-------------------------------------------
# Python cache & compiled files 
#-------------------------------------------

__pycache__/
*.py[cod]
*.pyo
*.so

#-------------------------------------------
# Virtual Environment
#-------------------------------------------

venv/
.venv/
env/
.env/
*.env

#-------------------------------------------
# Editors / system files
#-------------------------------------------

.vscode/
.idea/
.DS_Store
Thumbs.db

#-------------------------------------------
# Audio & datasets
#-------------------------------------------

data/
data/raw/
data/processed/
*.wav
*.mp3
*.flac
*.csv
*.npy
*.pt
*.pkl

#-------------------------------------------
#  Model checkpoints & logs
#-------------------------------------------

checkpoints/
logs/
run/
*.pth
*.ckpt
*.onnx

#-------------------------------------------
# Generated Outputs
#-------------------------------------------

outputs/
synthesized/
samples
*.zip
*.tar.gz

#-------------------------------------------
# Docker Deployment
#-------------------------------------------

*.pid
*.sock
docker-compose.override.yml

#-------------------------------------------
# 
#-------------------------------------------

