#-------------------------------------------
# Python cache & compiled files 
#-------------------------------------------

__pycache__/
*.py[cod]
*.pyo
*.so

#-------------------------------------------
# Virtual Environment
#-------------------------------------------

venv/
.venv/
env/
.env/
*.env

#-------------------------------------------
# Editors / system files
#-------------------------------------------

.vscode/
.idea/
.DS_Store
Thumbs.db

#-------------------------------------------
# Audio & datasets
#-------------------------------------------

data/raw/*
data/processed/*
!data/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/processed/mels/.gitkeep
!data/processed/wavs/.gitkeep
*.wav
*.mp3
*.flac
*.csv
*.npy
*.pt
*.pkl

#-------------------------------------------
#  Model checkpoints & logs
#-------------------------------------------

checkpoints/*
!checkpoints/.gitkeep
logs/*
!logs/.gitkeep
run/
*.pth
*.ckpt
*.onnx

#-------------------------------------------
# Generated Outputs
#-------------------------------------------

outputs/
synthesized/
samples
*.zip
*.tar.gz

#-------------------------------------------
# Docker Deployment
#-------------------------------------------

*.pid
*.sock
docker-compose.override.yml

#-------------------------------------------
# Validation Audio
#-------------------------------------------

validation_audio/*
!validation_audio/.gitkeep

#-------------------------------------------
# 
#-------------------------------------------