#-------------------------------------------
# Core Deep Learning Framework
#-------------------------------------------

torch == 2.0.1
torchaudio == 2.0.2
numpy == 1.26.4

#-------------------------------------------
# Audio Processing
#-------------------------------------------

librosa == 0.10.1
soundfile == 0.12.1
scipy == 1.13.1
numba == 0.58.1

#-------------------------------------------
# Text Processing & Normalization  
#-------------------------------------------

phonemizer == 3.2.1
num2words == 0.5.13
unidecode == 1.3.8

#-------------------------------------------
# Model Training & Experiment Tracking
#-------------------------------------------

tensorboard == 2.17.0 
tqdm == 4.66.4
matplotlib == 3.9.2

#-------------------------------------------
# API Deployment 
#-------------------------------------------

fastapi == 0.115.0
uvicorn[standard] == 0.30.0
python-dotenv == 1.0.1
loguru == 0.7.2

#-------------------------------------------
# Optional: Dataset Management/ Utilities 
#-------------------------------------------

pandas == 2.2.3
pyyaml == 6.0.2

#-------------------------------------------
# Testing & Formatting
#-------------------------------------------

pytest == 8.3.3
black == 24.8.0 
flake8 == 7.1.1

#-------------------------------------------
# 
#-------------------------------------------